.about {
  padding-bottom: 0;
  
  &--project {
    padding-bottom: 20px;
  }
}

.about__text {
  width: 760px;
  margin-bottom: 20px;
}

.about__figure {
  width: 100%;
  height: 580px;
  overflow: hidden;
  margin-bottom: 30px;
  
  &--project {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

.about__video {
  padding-top: 20px;
  
  iframe {
    width: 100%;
    border: none;
  }
}

.about__block {
  margin-bottom: 45px;
}

.about__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  height: 460px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.about__item {
  width: 25%;
  padding-right: 20px;
  margin-bottom: 17px;
}

.about__link {
  color: @blue-bg;
  
  &:hover,
  &:active {
    opacity: 0.7;
  }
}

.about__form {
  font: inherit;
  font-size: 18px;
  line-height: 22px;
  margin-top: 28px;
  margin-bottom: 90px;
  min-height: 62vh;
}

.about__label {
  display: block;
  margin-bottom: 10px;
}

.about__field {
  margin-bottom: 25px;
}

.about__input {
  width: 360px;
  min-height: 43px;
  padding: 0 20px;
  border: 1px solid @blue-bg;
  
  &::placeholder {
    opacity: 1;
  }
  
  &--date {
    width: 160px;
  }
  
  &:focus::placeholder {
    opacity: 0;
  }
}