.address {
  width: @max;
  min-height: 280px;
  margin: 28px auto;
  position: relative;
  background-image: url(../img/vyborg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.address__block {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-left: 60px;
  display: flex;
  align-items: center;
}

.address__link,
.address__text {
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
  color: #000;
  text-decoration: none;
}