.footer {
  width: 100%;
  margin-top: 20px;
  padding: 20px 0;
  background-color: #000;
  color: #fff;
}

.footer__copyright {
  margin: 0;
  font-size: 15px;
}

.footer__logo {
  fill: @blue-bg;
}

.footer__icon {
  width: 80px;
  height: 35px;
  margin-left: 13px;
}

.footer__developers {
  width: 235px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__link {
  color: @blue-bg;
  
  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}

.footer__design {
  text-align: right;
  margin: 0;
}
