.map {
  iframe {
    border: none;
  }
  
  background-image: url(../img/map-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  &--redaction {
    background-image: url(../img/map-2.jpg);
  }
  
  &--places {
    margin-top: 25px;
    background-image: url(../img/map-3.jpg);
  }
  
  &--timetable {
    margin-bottom: 78px;
    background-image: url(../img/timetable.jpg);
  }
  
  &--bar {
    margin-top: 55px;
    margin-bottom: 70px;
    background-image: url(../img/map-4.jpg);
  }
}

.video {
  iframe {
    border: none;
  }
}