@media @tablet {
  .wrapper {
    width: @max-tablet;
    flex-wrap: wrap;
  }
  
  .header__info {
    display: none;
  }
  
  .user__link:nth-of-type(2) {
    padding-right: 0;
    
    &::after {
      display: none;
    }
  }

  .header .banner {
    display: none;
  }
  
  .menu {
    padding-top: 20px;
  }
  
  .menu__link {
    padding-top: 30px;
    padding-bottom: 35px;
  }
  
  .menu__user {
    width: 580px;
  }
  
  .footer .social {
    display: none;
  }
  
  .footer .user {
    display: none;
  }

  .address,
  .slider,
  .news {
    width: @max-tablet;
  }
  
  .slider__img {
    width: @max-tablet;
    height: auto;
  }
  
  .slider__title {
    font-size: 16px;
    line-height: 24px;
  }
  
  .news__list--half {
    width: 100%;
  }
  
  .news__list--full {
    .news__item {
      &:nth-last-child(3),
      &:nth-last-child(4) {
        border-bottom: 1px solid @grey;
      }
    }
  }
  
  .news__item {
    width: 320px;
    
    &--main {
      width: 100%;
      height: auto;
    }
  }
  
  .news__img {
    width: 100%;
    height: auto;
  }
  
  .widgets__block {
    margin-right: auto;
    margin-top: 20px;
  }
  
  .about__text {
    width: 100%;
  }
  
  .about__figure {
    height: auto;
  }
  
  .slider__figure--full {
    height: 380px;
  }
  
  .gallery-thumbs .swiper-wrapper,
  .slider--section .gallery-thumbs .swiper-wrapper {
    margin-left: calc(-50% + 15%);
  }

  .slider--section input[type=range] {
    width: 600px;
  }
  
  .about__video iframe {
    height: 380px;
  }
  
  .swiper-pagination-fraction {
    left: 580px;
  }
  
  .wrapper__item {
    width: 200px;
    margin-right: 20px;
  }
  
  .wrapper--404 {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .acts__form {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  
  .acts__field {
    margin-bottom: 30px;
  }
  
  .btn-more::before,
  .btn-more::after {
    width: 230px;
  }
  
  .wrapper__column,
  .wrapper__column-wide {
    width: @max-tablet;
    margin-right: 0;
  }
  
  .article__list {
    width: 100%;
  }
  
  .article__layout {
    width: 30%;
  }
  
  .sidebar {
    width: @max-tablet;
    padding: 0;
    
    &::after {
      display: none;
    }
  }
  
  .article__block,
  .article__block--700,
  .news__list--column {
    width: 100%;
  }
  
  .sidebar__wrap {
    position: relative;
  }
  
  .wrapper__block--afisha {
    flex-wrap: wrap;
  }
  
  .news__list--afisha .news__item {
    &:last-child,
    &:nth-last-child(2),
    &:nth-last-child(3) {
      border-bottom: 1px solid @grey;
    }
  }

  .banner--high {
    display: none;
  }
  
  .citation {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .news__list--book {
    .news__item:nth-child(2n) {
      margin-right: 0;
    }
  }
  
  .project__item {
    &--2017 {
      width: 200px;
    }

    &--2016 {
      width: 140px;
    }

    &--2015 {
      width: 320px;
    }
  }
  
  .project__figure {
    width: 200px;
    height: 130px;

    &--2016 {
      width: 140px;
      height: 110px;
    }

    &--2015 {
      width: 320px;
      height: 250px;
    }
  }
  
  .map--bar,
  .map--timetable,
  .map--places {
    iframe {
      height: 400px;
    }
  }
  
  .about__list {
    height: 610px;
  }
  
  .banner__name {
    margin-bottom: 0;
  }
  
  .banner__phone {
    font-size: 18px;
  }
  
  .banner__info {
    width: 100%;
    padding: 0 5px;
  }
  
  .banner__info--part {
    width: 350px;
    left: 70%;
  }
  
  .banner {
    width: 100%;
  }
  
  .banner--sidebar {
    width: 260px;
    position: absolute;
    right: 30px;
    bottom: 0;
  }
  
  .address--redaction {
    flex-direction: column;
  }
  
  .banner__info--560px {
    left: 0;
  }
}