@media @tablet {
  .wrapper {
    width: @max-tablet;
    flex-wrap: wrap;
  }
  
  .header__info {
    display: none;
  }
  
  .user__link:nth-of-type(2) {
    padding-right: 0;
    
    &::after {
      display: none;
    }
  }
  
  .header .banner {
    display: none;
  }
  
  .menu {
    padding-top: 20px;
  }
  
  .menu__link {
    padding-top: 30px;
    padding-bottom: 35px;
  }
  
  .menu__user {
    width: 580px;
  }
  
  .footer .social {
    .visually-hidden;
  }
  
  .footer .user {
    .visually-hidden;
  }

  .address,
  .slider,
  .news {
    width: @max-tablet;
  }
  
  .slider__img {
    width: @max-tablet;
    height: auto;
  }
  
  .slider__title {
    font-size: 16px;
    line-height: 24px;
  }
  
  .news__list--half {
    width: 100%;
  }
  
  .news__list--full {
    .news__item {
      &:nth-last-child(3),
      &:nth-last-child(4) {
        border-bottom: 1px solid @grey;
      }
    }
  }
  
  .news__item {
    width: 320px;
    
    &--main {
      width: 100%;
      height: auto;
    }
  }
  
  .news__img {
    width: 100%;
    height: auto;
  }
  
  .widgets__block {
    margin-right: auto;
    margin-top: 20px;
  }
  
  .about__text {
    width: 100%;
  }
  
  .about__figure {
    height: auto;
  }
  
  .slider__figure--full {
    height: 380px;
  }
  
  .slider--section .gallery-thumbs .swiper-wrapper {
    margin-left: calc(-50% + 15%);
  }

  .slider--section input[type=range] {
    width: 600px;
  }
  
  .about__video iframe {
    height: 380px;
  }
  
  .slider--section .swiper-pagination-fraction {
    left: 580px;
  }
}